.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.country{
  fill: #b6ada5;
}

.country:hover{
  fill: #31698a;
}

.EU{
  fill: #001489;
}

#indexplaatje{
  max-width: 350px;
}

#map{
	height: 100%;
	width: 100%;
}

y.axis.ticks{
	font-size: 9px;
}

.line {
  fill: none;
  stroke: #001489;
  stroke-width: 1px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar{
  fill: #001489;
}
.bar:hover{
  fill: black;
}

#table{
  max-height: 450px;
  overflow-y: auto;
}
.col-lg-3{
  border-left-style: solid;
}